<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <br>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
            </div>
        </div>
    </div>
    <div> Dashboard > Home </div>
    <div class="border-top"><br></div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col custom-col">
                    <div class="card text-white bg-primary">
                        <div class="card-body">
                            <h5 class="card-title">Total Task</h5>
                            <p class="card-text display-4">150</p>
                        </div>
                    </div>
                </div>
                <div class="col custom-right-col">
                    <div class="card text-white bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title">Your Task</h5>
                            <p class="card-text display-4">50</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col custom-col">
                    <div class="card text-white bg-warning">
                        <div class="card-body">
                            <h5 class="card-title">Your Pending Task</h5>
                            <p class="card-text display-4">35</p>
                        </div>
                    </div>
                </div>
                <div class="col custom-right-col">
                    <div class="card text-white bg-success">
                        <div class="card-body">
                            <h5 class="card-title">Your Completd Task</h5>
                            <p class="card-text display-4">15</p>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="card text-white bg-danger">
                    <div class="card-body">
                        <h5 class="card-title text-center">Your Pending Task</h5>
                    </div>
                </div>
                <div class="scrollable-div">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Quisque venenatis elit sit amet turpis placerat, at volutpat nunc tincidunt.</p>
                    <p>Phasellus facilisis ligula at augue tempor, ut efficitur elit gravida.</p>
                    <p>Suspendisse potenti. Nullam tincidunt odio at magna fermentum, sit amet euismod mi vehicula.</p>
                    <p>Donec at urna ut purus suscipit vulputate.</p>
                    <p>Nam euismod nisl eget lorem laoreet, vel tempus nisl feugiat.</p>
                    <p>Proin pharetra leo nec semper vehicula.</p>
                    <p>Aenean consectetur turpis at odio dapibus, nec fermentum libero aliquet.</p>
                    <p>Vestibulum condimentum, nisl nec commodo ullamcorper, arcu ex aliquet lectus, eu interdum libero
                        orci at arcu.</p>
                    <p>Aliquam erat volutpat. Duis scelerisque sem sit amet mauris malesuada, in porttitor purus luctus.
                    </p>
                    <p>Ut elementum libero eget erat volutpat, vel euismod purus lobortis.</p>
                    <p>Mauris sodales felis et dolor luctus, nec interdum dolor bibendum.</p>
                </div>
            </div>


        </div>
        <div class="col-md-5 border-start border-primary ps-3">
            <div class="card text-dark bg-warning">
                <div class="card-body">
                    <h5 class="card-title text-center">Task Create By All Users</h5>
                </div>
            </div>
        </div>
    </div>




</main>