.layout-container {
  display: flex;
  min-height: calc(100vh - 60px);
}

.sidebar {
  width: 220px;
  background: #2d2d2d;
  color: white;
  padding: 1rem;
}

.main-content {
  flex: 1;
  padding: 1rem .2rem;
  background-color: #f4f4f4;
  // margin-left: -20px;
  // margin-right: -10px;
}
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}