thead th {
    background-color: rgb(37, 88, 197) !important;
    color: white !important;
}

td i {
    cursor: pointer !important;
}
@media (max-width:767px) {
    
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0.7rem !important;
}
}